.about-container{
    max-width: 1728px;
    /* margin: 0 auto; */
    margin: 5% 12.5% 5% 12.5%;
    display: grid;
    gap: 5%;
    grid-template-columns: 1fr 2fr;
    flex: 0.875;
    justify-content: center;
}
.profile-image{
    width:100%;
    /* max-width: 300px; */
    /* max-height: 500px; */
}

.about-description{
    line-height: normal;
    letter-spacing: 1.4px;
    width:100%;
    display: flex;
    flex-direction: column;    
}
.emphasis-text{
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 1.4px;
    }
    
    .download{
        color:#337AB7;
        text-decoration-line: underline;
    }
    
    .cta-list{
        flex-direction:column;
        display:flex;
        align-items: flex-start;
        gap: 10px;
    }
    .cta-list p{
        gap:10px;
        margin: 0px;
    }
    .cta-about{
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
    }

@media (max-width: 1000px) {
.about-container{
grid-template-columns: 1fr;
gap:1rem;
margin: 0% 0%;

.about-description{
    margin: 0% 2.5%;
}
}
.profile-image{
    width:90vw;
    max-height:50vh;
    object-fit: none;
}
.emphasis-text{
    font-size: 16px;
}

.about-description{
    width:80%;
    justify-self: center;

}
.cta-list p{
margin: 0px;
}
.cta-about{
    flex-direction: column;
    gap:1rem;
}
}

