.about-container{
    margin-top: 5rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    /* flex-direction: column; */
    padding: 0vw 4vw;

}
.profile-image{
    width:100%;
}

@media (max-width: 750px) {
.about-container{
    margin-top:0px;
}
.homeIcon{
    width:100%;
}
}