
p .description-container{
  color: #c8c8c8;

}
h2{
  text-decoration: underline;
}
.section{
  margin: 1rem 0rem;
}
.section p{
  color:#5b5b5b;
}

.section li{
  color:#5b5b5b;

}

@media only screen and (max-width: 800px) {
  #overview-overlay {
    visibility: hidden;
  }
}

#overview-overlay {
    position: fixed;
    top: 90%;
    left: 20px; /* Adjust the left value as per your preference */
    transform: translate(0, -50%);
    /* background-color: rgba(0, 0, 0, 0.8); */
    color: #000000;
    padding: 20px;
    z-index: 9999;
    transition: opacity 0.3s ease-in-out;
    opacity: 1;
  }

  .overlay-content ul {
    list-style: circle;
    padding: 0;
  }
  
  .overlay-content ul li {
    margin-bottom: 4px;
  }

  /* .overlay-content ul li:before {
    content:"·";
    font-size:120px;
    vertical-align:middle;
    line-height:20px;
} */
  
.overlay-content ul li.active {
  list-style-type: disc;
  /* color: #484848; */
  color: #72a3e4;
}

  .overlay-content ul li:hover {
    list-style: disc;
  }
  .overlay-content ul li a:hover {
    color: #72a3e4;
  }

  .overlay-content ul li a {
    color: #484848;
    text-decoration: none;
    font-size: 1em;
  }
  .overlay-content  ul li::marker{ 
     font-size:1.5em;
     }
 /* END OF OVERLAY SIDE NAV */
  
  .detail-container{
    display: flex;
    flex-direction: column;
    padding: 0vw 4vw;
    margin: 0vw 4vw;

  }
  @media (max-width: 800px){
    .detail-container{
    margin: 0vw 0vw;
    padding: 0vw 0vw;

    }
  }
  .hero-banner {
    display: grid;
    grid-template-columns: 1fr 1fr;
    flex-direction: column; 
    justify-content: center;
    text-align: left;
    margin-top: 20px;  
  }

  @media (max-width: 800px) {
    .hero-banner {
      grid-template-columns: 1fr;
    }
    /* .hero-banner img{
      height: 200px;
    } */
  }

  .hero-image{
    margin-top: 80px;
    display: flex;
    justify-content: center; 
    /* Horizontally center the content */
    /* align-items: center; this keeps moving it down for some reason */
    height: 50vh;
    /* width:100%; */
    background-color: #363636;
     /* background-image: url('/assets/dalle-cover-wtxt.jpg');
     background-size: contain;
     background-repeat: no-repeat;
     background-position: center; */
     /* background-color: #000000; */
  }
  
  
  /* .hero-image-content{
        width:100%;
  } */
.sub-title{
  font-weight: bold;
}
.hero-banner h1 {
  font-size: 48px; /* Adjust the font size as needed */
  margin-bottom: 0px;
}
.hero-banner .subtitle{
  font-size: 24px; /* Adjust the font size as needed */
  color:#e2e2e2;
  margin-top: 10px;
}
.hero-banner p {
  font-size: 16px; /* Adjust the font size as needed */
  margin-bottom: 0px;
}

.hero-banner a {
  /* display: inline-block; */
  /* padding: 12px 24px; */
  /* background-color: #000000; */
  color: #ffffff; 
  text-decoration: none;
  /* font-weight: bold; */
  /* border-radius: 4px; */
}

/* .hero-banner a:hover {
  background-color: #ffffff; 
  color: #000000; 
} */
/*  */
.grid-description {
  display: grid;
  justify-content: center;
  grid-template-columns: 1fr 1fr 1fr; /* Sets the columns to equal width */
  align-items: start;
  column-gap: normal;
  gap: 1rem;
}

/* .grid-item-description{
} */
.sub-catergory{
  color:#000000;
}

.grid-description > div {
  position: relative; /* Adds relative positioning */
  margin: 0 rem 0.3 rem;
}


.description-container {
width: 80vw;
margin: 0vw 4vw;
}

@media(max-width:800px){
  .description-container {
    width: 90vw;
  }
  .table-style{
    width: 90vw !important;
  }
}

.subheading{
  font-weight: bold;
}
.subheading-under{
  text-decoration-line: underline;
}

.grid-col-two{
  grid-template-columns: 1fr 1fr; /* Sets the columns to equal width */
  display: grid;
}

.arrow-back {
  display: contents;
  transition: transform 1s;
  color:rgb(110, 110, 110);
  font-size: 26px;
  margin-bottom: 10px;
}

.arrow-back:hover {
  transform: translateX(-0.5%);
  color:cornflowerblue;
}


.detail-image{
  /* height: 50 vh; */
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1rem;
}
@media (max-width: 800px){
  .detail-image{
 margin: 0rem;
  }
  .detail-imagelarge {
  margin:0rem;
  }
}

.detail-image img{
    max-width: 70%;
    max-height: 70%;
}

@media(max-width:1200px){
  .detail-image img{
    max-width: 100%;
    max-height: 100%;
}
}
.detail-imagelarge {
  /* height: 50 vh; */
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;

}

.detail-imagelarge img{
    max-width: 100%;
    max-height: 100%;

  }
.ba-compare{
  /* background-color: #D4E0F0; */
  padding: 0.5rem 0rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 10px;
}
.grid-dalle-compare{
    background-color: #D4E0F0;
    margin: 10px 0px;
}
.header-caption{
  text-align: center;
  font-weight: 600;
  font-size: 18px;
}
/* .detail-image-expanded {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: contain;
  z-index: 9999;
} */
/* SECTION */



/* TABLE CSS */

.table-style{
  overflow-x:auto;
  width:80vw;
}
table {
  width: 100%;
  border-collapse: collapse;

}
th, td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}
th {
  background-color: #f2f2f2;
}
tr:hover {
  background-color: #f5f5f5;
}

.company-logo{
  height: 3rem;
    transition-duration: initial;
}

@media (max-width: 750px) {
.description-container{
  grid-template-columns: 1fr;
  margin: 0rem 2rem;
  width: 90vw;
}

h1{
  font-size: 24px !important;
}

.hero-image{
height:30vh;
}

}

@media (max-width: 1100px){
  .ba-compare{
    grid-template-columns: 1fr;
  }
  /* .detail-imagelarge{

  } */
  
}

.two-column {
  display: grid;
  justify-content: center;
  grid-template-columns: 1fr 1fr; /* Sets the columns to equal width */
  align-items: start;
  column-gap: normal;
  gap: 1rem;
}

.three-column {
  display: grid;
  justify-content: center;
  grid-template-columns: 1fr 1fr 1fr; /* Sets the columns to equal width */
  align-items: start;
  column-gap: normal;
  gap: 1rem;
}

@media(max-width:1000px){
  .two-column{
    grid-template-columns: 1fr;
  }
  .three-column{
    grid-template-columns: 1fr;
  }
}
ol li{
  list-style: disc;
}

.style-bubble-source{
  background-color: #202634;

}
.style-green-source ol{
  color:#B0F347;

}
.style-green-source li{
  color:#ECECEC;

}