body{
    padding: 3rem 0rem 0rem 0rem;
    font-family: 'Poppins', sans-serif;
    margin: 0;
    display: flex;
    flex-direction: column;
    color:#39364f;
}
#nav{
    background-color: #fff;
    position: fixed;
    top: 0;
    z-index: 9;
    width: 80%;
    padding: 1% 12.5% 0% 12.5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-items: flex-start;
    flex-shrink: 0;
}
.navbar-with-shadow {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Adjust the shadow properties as needed */
}


/* 
    filter:drop-shadow(0 1mm 1mm rgba(0,0,0,.1)); */
.menubutton{
  background-color:white;
  border: none;
  width:100%;
  font-size: 24px;
}
a{
    color: rgb(25, 71, 255);
}

#body{
margin-top: 4rem;
display: flex;
flex-direction: column;  
}

#footer{
  background-color: #ffffff;
 color:#39364f;
 display: flex;
justify-content: space-between;
align-items: flex-start;
flex-shrink: 0;
padding: 0% 10% 0% 10%;
bottom: 0;
position:relative;
margin-top: auto;
}

#footer a{
  text-decoration: none;
  color:#337AB7;
}

#footer a:hover{
  text-decoration: underline;
}
.name{
  /* color:#39364f;; */
  /* color:#337AB7; */
  text-decoration-line: none;
    font-weight: medium;
}
/* .resumeCallouts{
  gap:10px;
  display: flex;
  flex-direction: column;
} */
/* NAV BAR */

.topnav{
  width:100%;
  position: fixed;
}
ul.topnav {
    list-style-type: none;
    margin: 0;
    padding: 0% 0% 1% 0%;
    overflow: hidden;
    background-color: white;
    position: sticky;
  }
  ul.topnav li {float: left;}
  ul.topnav li a{
    color: #39364f;
    text-decoration-line: none;
  }
  ul.topnav li.right a {
    display: block;
    color:#6f7287;
    text-align: center;
    padding: 0px 1rem;
    text-decoration: none;
    transition: font-weight 0.5s;

  }
  ul.topnav li.right a:hover{
    /* text-decoration-line: underline; */
    color: #39364f;
    /* font-weight:700; */
  }
  /* ul.topnav li a:active{
    color: #39364f;
    text-decoration-line: underline;

  } */
  ul.topnav li.right {
    float: right;
    padding: 0rem 1rem;
    font-size: 18px !important;
    position: relative;
  }
  ul.topnav li.current a{
    color: #39364f;
    /* text-decoration-line: underline; */

  }
  .work-drop-content {
    display: none;
    position: absolute;
    top: 100%;
    left:0;
  }
.work-drop-content a {
/*     color: white; */
    padding: 14px;
    display: block;
}
.work-drop:hover .work-drop-content {
    display: block;
}
  li.HomeIcon{
    font-size: 24px;
  }
  @media screen and (max-width: 750px) {
    ul.topnav li:not(:first-child) {
      display: none;
    }

    ul.topnav li.icon {
      float: right;
      display: block;
    }
  }
  @media screen and (min-width: 751px) {
    #mobileIcon{
      display: none;
    }
  }
  /* #mobileIcon{
    font-size: 0px;
  } */
  

/* SVG STYLING */
.material-symbols-outlined {
  font-variation-settings:
  'wght' 400,
  'GRAD' 200,
  'opsz' 36,
}

.large-icon{
  font-size:32px;
  vertical-align: middle;

}

/* Styling for the animated menu */
div.menu {
  display: none;
  background-color: #ffffff;
  position: fixed;
  width: 100%;
}
div.menu ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
div.menu ul li a {
  display: block;
  color: rgb(0, 0, 0);
  text-align: center;
  padding: 14px 0px;
  text-decoration: none;
}
div.menu li:hover{
  background-color: #ccc;
}
/* INDEX PAGE */
.container {
    display: grid;
    grid-template-rows: auto 1fr auto; 
    grid-template-columns: 1fr; 
    gap: 20px; 
    padding:0vw 12.5vw;
    align-items: start;
    margin-bottom: 2.5%;
  }

  .top-container {
    margin: 5% 0% 5% 0%;
    display: flex;
    flex-direction:row;
    justify-content: space-between;
    align-items: center;
    /* flex-shrink: 0; */
    gap: 7rem;
  }

  .top-container-text{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 25px;
    flex: 1;
    /* flex-shrink: 0; */
    max-width: 460px;
  }
  .landing-bio-text{
    font-size:16px;
    margin:0;
    /* color:#6f7287; */
  }
 
  .landing-bio-text-call{
    color:#6f7287;
    margin:10px 0px;
  }
  .heroName{
    font-size: 36px;
    margin:0;
    color:#39364f;
  }
  
  .landing-icon{
    display: flex;
    flex: 1;
    justify-content: center;  
  }
  
  .landing-icon dotlottie-player{
    width:400px;
  }

  .top-container-text p a{
    text-decoration: none;
    /* color:#337AB7; */
    color:#39364f;
  }
  .companyname-landing-bio{
    color:#38393a !important;
    font-weight: 600;
  }

  .companyname-landing-bio:hover{
    text-decoration: underline;
  }
  .header2title{
    margin: 0% 12.5%;
    text-align: center;
  }
  .header2title h2{
    font-weight: 500;
  }
  .middle-container {
    display: grid;
    grid-template-columns: 1fr 1fr; 
    gap: 20px; 
    justify-content: center; 
    align-items: start;
  }
  .inner-container {
    display: grid;
    gap:5rem;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
    align-items: center;
  }

  .portfolioIndexText{
    width:80%;
  }
.portfolioIndexImage{
  width:100%;
  transition: transform 0.3s ease-in-out;
}

.inner-container:hover .portfolioIndexImage{
  transform: scale(1.01);
}
  .inner-container img {
    width:100%;
    border-radius: 10px;
  }

  .inner-container p{
    color:#39364f;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 1.4px;
  }
    .inner-container h2{
    /* font-size: 20px; */
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    /* letter-spacing: 1.4px; */
    
    color:#39364f;
    margin:0;
    }
    .inner-container h4{
      font-style: normal;
      font-weight: 500;
      line-height: normal;
    }
    .inner-container a{
      text-decoration: none;
      
    }

  .gray{
    color:rgb(93, 93, 93) !important;
  }
  .bottom-container {
    background-color: #f2f2f2;
    padding: 20px;
  }
  
  .featureLink{
    text-decoration: none;
    display: flex;
  flex-direction: column;
  }

.grid-description {
  display: grid;
  grid-template-columns: 4fr 1fr; /* Sets the columns to equal width */
  gap: 10px; /* Adds a 10px gap between grid items */
  padding: 0.2rem 0rem;
}
.grid-description > div {
  position: relative; /* Adds relative positioning */
  /* padding: 0rem 1rem; */
}

/* .grid-description > div:not(:last-child)::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  right: -3px; /* Adjust the spacer width as needed */
  /* width: 1px;  
   background-color: black ; 
   } */

.tags{
  padding:0.2rem 0rem;
  color: #337ab7 !important;

}
.rounded-button {
  border-radius: 20px; /* Sets the border radius to make it rounded */
  padding: 1rem 4rem; /* Adjust the padding to your preference */
  border: 0.1rem solid #337ab7;
  cursor: pointer; /* Displays a pointer cursor on hover */
  margin: 1rem 10rem; 
  color:#337ab7;
  background-color: #fff;
}

.rounded-button:hover{
  background-color: #337ab7; /* Sets the background color of the button */
  color: #fff; /* Sets the text color of the button */

}
.yearIndex{
  font-weight: normal;
}

.centerBtn{
  display: grid;
  place-items: center;
}

.center-image{
  display: flex;
  width: 100%; 
  text-align: center;
}


.referenceLink{
  color:#337AB7;
  text-decoration-line: none;
}
/* other projects area */

.catergories{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  place-items: center;
  /* margin: 0% 12.5% 5% 12.5%; */
  width:70%;
  gap:20px;
}

.catergory{
  margin: 10px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  text-align: center;
  width:100%;
  height: auto;
}
.catergory a img{
  width:100%;
  box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.25);
  border-radius: 0.4rem;
  transition: transform 0.3s ease-in-out;
}

.catergory a img:hover{
  transform: scale(1.05)
}
.catergory p{
  font-size:18px;
  /* margin: 5%; */
}
.catergory a{
  text-decoration: none;
  color:#39364f;
  display: flex;
  flex-direction: column;
  gap:10px;
}
.otherprojects{
  /* margin-top: 20px; */
  margin-top: 70px;
  /* padding: 2.5% 0px; */
  /* background: #F5F5F5; */
  background-color: #FAFAFA;
  display: flex;
  flex-direction: column;
  justify-content: center; 
  align-items: center; 
}

.otherh2{
  /* margin: 0% 12.5%; */
  margin: 0px 10px;
  width:100%;
}
.otherh2 h2{
  font-weight: 500;
}

.othercontents{
  display: flex;
  flex-direction: column;
  margin: 5% 12.5%;
  align-items: center;
  justify-content: center;
}
.gallery-row{
  display: flex;
  flex-direction: row;
  /* justify-content: center; */
  justify-content: space-between;
  gap:20px;
  width:100%;
  /* flex-wrap: wrap; */
 }
 .gallery-block{
   display: flex;
   flex-direction: column;
   /* width:500px; */
   width:100%;
 }
 .gallery-image{
   /* width:500px; */
   display: flex;
   justify-content: center;
   object-fit: cover;
   width:100%;
 }
 .gallery-image img{
   width:100%;
   border-radius: 0.4em;
 }

 .gallery-text{
  width:100%;
 }
.gallery-text h4{
  font-size: 24px;
  font-weight:500;
}

.gallery-text p{
  font-size:18px;
}



.homeIcon{
  height: 50%;
}

/* ---------artist i have worked with css -------*/
.column3people{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap:20px;
  align-self: center;

}
.artistblock{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
   width: 256px;
   /* width:80%; */
  /* justify-self: center; */
  /* align-items: center; */
}
.artistimage img{
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.artisttitle h4{
  /* text-align: center; */
  color: #39364f;
  font-weight: 500;
}

.artisttitle p{
  margin:0;
  color:#6f7287
}
.artisttitle a{
  text-decoration: none;
}

.backbutton{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  /* width: 300px; */
    align-items: center;
}

.backbuttonmain{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  /* width: 300px; */
    align-items: center;
  font-size: 18px;
  }
.backbuttonmain a{
  color:#39364f;
  text-decoration: none;
  border-radius: 0.6rem;
  border: solid 2px #6f7287;
  padding:0px 20px;
}
.backbuttonmain a:hover{
  /* text-decoration: underline; */
  background-color: #FAFAFA;
  border: solid 2px #545665;

} 
.divider{
  display: none;
  
}




/* ///////////////////////////////MEDIA QUERY//////////////////////////////// */

@media (max-width: 1000px) {
  #body{
    margin-top: 2rem;
  }
  #nav{
    padding: 5% 5% 0% 5%;
    width:90%
  }
  .container{
  padding:0;
  display: flex;
  flex-direction: column;
  align-items: center;
  }
  div.menu{
    padding-top: 2rem;
  }

  .top-container{
    width:90%;
    gap:0px;
  }
  .rounded-button{
    margin: 1rem !important;
    place-content: center;
    padding: 1rem;
  }

  .inner-container{
    padding: 10px 0rem 0rem;
  }
  .inner-container p{
    font-size: 16px;
  }
  .gray{
    font-size: 14px;

  }

  .middle-container{
    margin-top: 2rem;
    gap: 0px;

  }

  /* .center-image img{
    max-height: 100%;
    max-width: 100%;
  } */

  .inner-container{
    width:90vw;
      /* border-bottom: solid #6f7287 1px;
      padding-bottom:5%; */
  }

  .divider{
    display:block;
    width:90%;
    height: 1.4px;
    background-color: rgba(0,0,0,.09);
    margin-bottom: 32px;
  }
  
  .indexImage{
    width: 100%;
  }

  .header2title{
  margin:0;
  font-size: 18px;
  }

  .column3people{
    grid-template-columns: 1fr;
  }
  .header2title{
    margin:2.5% 12.5% 2.5% 12.5%;
  }
  .catergories{
    grid-template-columns: 1fr;
  }
  .catergory a img{
    width:100%;
  }

}


/*  LOADING CSS START */
.loading-screen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* background-color: rgba(0, 0, 0, 0.7); */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}
.loader-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.loader-rectangle {
  width: 50px;
  height: 50px;
  background: linear-gradient(90deg, transparent, #ccc);
  margin: 5px;
  background-size: 200% 100%;
  animation: gradient-fill 2s linear infinite;
}
@keyframes gradient-fill {
  0% {
      background-position: -100% 0;
  }
  100% {
      background-position: 100% 0;
  }
}
.loader-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}
.loader-line {
  width: 200px;
  height: 1px;
  background-color: #ccc;
  margin: 5px;
  border-radius: 1rem;
  border: 0.4px solid #ccc;
}
/* LOADING CSS END */

@media (max-width: 900px) {

  /* Tablet viewport and above */
  .inner-container{
    /* margin: 1rem 0rem !important; */
    /*  */
    grid-template-columns: 1fr;
  }
}
@media (max-width: 1200px){
  .rounded-button {
    margin: 1rem 3rem;
  }
}
@media (max-width: 750px){
  .top-container{
    width: 90%;
    gap:0rem;
    margin:7.5% 0% 0% 0%;
    flex-direction:column;
    align-items: flex-start;
  }

  .top-container-text{
    justify-content: flex-start;
    gap:10px;
    max-width:500px;
  }
  p.heroName{
    font-size:36px;
  }
  .resumeCallouts p{
    margin:10px 0px;
  }

  .landing-icon{
    width:100%;
    justify-content: center;
  }

  .landing-icon dotlottie-player{
    width:200px
  }
  #footer{
    border-top: solid #6f7287 1px;
    margin: 0% auto auto auto;
    width: 90%;
    padding: 0%;
  }
}
@media (max-width: 600px){
  #footer{
    width: 90%;
  }
}

